label {
    font-weight: 500;
    margin-bottom: 5px;
}



input {
    border: 1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
    &.ng-dirty {
        border: 1px solid black;
    }
    &.ng-dirty.ng-invalid {
        border: 3px solid red;
    }
}
